<div>
    <h1>Pagina principal</h1>
    <h2>Hola {{username}}
        <button onclick="location.href='/logout'">Cerrar sesion</button>
    </h2>
    <div id="mensaje"></div>
</div>
{{>productos}}


{{> importScripts}}